@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 10px;
}

.back_menu{
  background-image: url("../images/sample_menu_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.key {
  background: center / cover no-repeat url("../images/sample_key.jpg");
  height: 500px;
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
}
.key h1{
  font-size: 2.5rem;
  margin-top: 110px;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.dc_section {
  display: flex;
  flex-direction: row;
}

.dc_section p {
  width: 60%;
}

.dc_section img {
  width: 35%;
  margin-right: 5%; 
}



.menu_reco {
  max-width: 1100px;
  max-height: 300px;
  display: flex;
  padding: 0 150px;

}
.menu_reco ul {
  display: flex;
  max-width: 1100px;
  max-height: 300px;
  text-align: left;
  
}
.menu_reco ul li{
  width: 49%;
  background-color: #fff;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.menu_reco ul li .menu {
  width: 45%;
  padding: 10px;
}
.menu_reco ul li img{
width: 55%;
height: 100%;
}
.cafes{
  max-width: 1100px;
  max-height: 300px;
  margin: 0 auto;
}

.cafes ul{ 
display: flex;
justify-content: space-between;
background-color: #fff;
text-align: center;
flex-wrap: wrap;
margin: 20px;
}
.cafes ul li{
  width: 49%;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}
.cafes ul li img{
  width: 20%;
  height: auto;
}
.cafetexto{
  width: 80%;
}

.infosection{
  max-width: 800px;
  margin: 0 auto;
}
.infor{
  margin-top: 20px;
}
.hrdr{
  display: flex;
}
.direc{
  max-width: 800px;
  margin: 0 auto;
}
.dire{
  display: flex;
}
dt{
  font-weight: bold;
  width: 80px;
}
dd{
  margin-bottom: 20px;
}
dl{
  margin-bottom: 20px;
}
.map{
  margin: 80px;
}
.map iframe{
  width: 100%;
}


footer{
  background-color: #251e19;
  color: #fff;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a{
  text-decoration: none;
  color: #fff;
}

nav ul li{
  margin-right: 20px;
}
nav ul li:last-child{
  height: 30px;
  margin-right: 0;
}
nav ul li img{
  height: 30px;
  width: auto;
}
.point{
  color: #fff;
  padding: 0 10px;
}
.pointt{
  color: white;
  padding: 0% 5px;
}